#index-header {
    font-family: 'Parisienne', cursive;
    font-size: 95px;
    display: flex;
    justify-content: center;
    align-content: center;

}

#sub-header-index {
    font-family: 'Tangerine', cursive;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-content: center;

}

body {
    background-color: rgb(242, 218, 234)
}

#index-p {
    font-family: 'Merriweather', serif;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-content: center;

}
#signature {

    font-family: 'Tangerine';
    font-size: 85px;
    color: rgb(210, 138, 138);
 
  padding-left: 925px;
  
  

}
#newdelhi {

    color: rgb(210, 138, 138)
}